*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}
body {
    margin: 0%;
    background-color: rgb(32, 32, 32);
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
}

header {
    min-width: 500px;
    background-color: rgb(109, 108, 108);
    padding: 25px;
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
}

ul {
    list-style: none;
    display: flex;
    font-family: arial;
}

.links a {
    display: flex;
    margin: 0%;
    padding: 8px;
    color: white;
    text-decoration: none;
    outline-color: transparent;
    border-radius: 30px;
    border: 1px solid white;
}
.links a:hover {
    transition: 700ms;
    color: black;
    background-color: white;
}
.links a {
    font-size: 1.2em;
    padding: 8px;
}


.logo-rafa {
    margin-left: 25px;
    font-family: monospace;
    font-size: 1.5em;
    border-radius: 30px;
    text-transform: uppercase;
    background: linear-gradient(45deg, blue, orangered, rgba(255, 255, 0, 0.87));
    background-size: 400% 100%;
    animation: degrade 8s linear infinite alternate;
}
.logo-rafa a {
    display: flex;
    margin: 0%;
    padding: 10px;
    color: white;
    text-decoration: none;
    outline-color: transparent;
    border-radius: 30px;
    border: 1px solid rgb(56, 56, 255);
}
@keyframes degrade {
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position: 100%;
    }
}


li {
    position: relative;
    margin-right: 50px;
}

.main {
    display: flex;
    flex-grow: 1, 3;
    margin-top: 8px;
    padding: 15px;
}

.titulo01 {
    color: white;
    font-family: arial;
}
.part-esquero {
    border-radius: 18px;
    padding: 15px;
    width: 450px;
    max-height: 250px;
    background-color: gray;
}
.tecs ul {
    margin-left: 7px;
    margin-top: 14px;
    flex-wrap: wrap;
    font-family: arial;
}
.tecs ul li {
    margin-bottom: 5px;
    padding: 6px;
}
.tecs ul li a {
    border-bottom: 1px solid black;
    color: white;
    text-decoration: none;
    outline-color: transparent;
}
.tecs ul li a:hover {
    padding: 2px;
    box-shadow: 1px 1px 0px 0px black;
    background-color: rgba(185, 181, 181, 0.801);
    color: black;
    border-radius: 4px;
}

img {
    image-rendering: auto;
    max-width: 240px;
    border-radius: 20px;
}

.part-direito {
    border-radius: 18px;
    padding: 15px;
    padding-top: 40px;
    padding-left: 45px;
    margin-left: 25px;
    display: flex;
    background-color: gray;
    max-height: 600px;
}
.textotitulo p {
    font-family: arial;
    align-items: center;
    color: white;
}

.textotitulo h1 {
    padding-left: 25px;
    font-family: arial;
    color: white;
}
.texto {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.1em;
    padding: 35px;
}

.main-bottom {
    padding: 22px;
    background-color: blue;
}